@page
@model PrivateHome.Extensions.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <input class="form-control" asp-for="ExtensionName" />
    <input class="btn btn-success" type="submit" value="Submit" />
</form>