@page
@model PrivateHome.Extensions.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <textarea class="form-control" asp-for="FileContents"></textarea>
    <input class="btn btn-success" type="submit" value="Submit" />
</form>