@page
@model PrivateHome.Extensions.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing Extension @Model.Extension.ExtensionName</h1>
<h4>Files:</h4>
@foreach(var file in Model.Extension.Files)
{
    <a asp-page="/Extensions/EditFile" 
       asp-route-id="@Model.Extension.ID"
       asp-route-filePath="@file.FullPath">File: @file.FullPath</a>
}