@page
@model PrivateHome.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-success" asp-page="/Extensions/Create">New Extension</a>

@foreach(var extension in Model.Extensions)
{
    <a asp-page="/Extensions/Details" asp-route-id="@extension.ID">@extension.ExtensionName</a>
}